{
    auto_https off
    admin off
}

:{$HTTP_PORT:8080} {
    root * /srv/public
    file_server browse {
        hide .git
    }

    @binaries path /challenge /beacon /challenge.exe /beacon.exe
    header @binaries Content-Disposition "attachment; filename=challenge"
    header @binaries Content-Type "application/octet-stream"

    header {
        Access-Control-Allow-Origin *
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }
}
